.contact{
    border: var(--theme-border);
    border-radius: var(--theme-card-border-radius);
    background-color: var(--theme-card-background-color);
}

.contact__title{
    color: var(--theme-font-color)
}

.contact > button{
    background-color: var(--theme-standard-btn-background-color);
    border: none;
    padding: 7px;
}

.contact > button:hover{
    background-color: var(--theme-standard-btn-background-color);
    color: var(--theme-hover-color)
   
}

/* ipad pro */
@media (max-width: 1025px) {

    .contact{
        width: 400px;
        margin: auto;
        margin-bottom: 40px;
    }
}

/* ipad */
@media (max-width: 768px) {
    .contact{
        width: 400px;
        margin: auto;
        margin-bottom: 40px;
    }
}


/* cell plus */
@media (max-width: 414px) {

    .contact{
        width: 332px;
        margin: 0 40px 50px 40px;
    }
}


/* cell */
@media (max-width: 375px) {

    .contact{
        width: 332px;
        margin: 0 20px 50px 20px;
    }

}