.signed_in_links{
    display: flex;
    flex-direction: row;
}


.signed_in_links> li > a{
  text-decoration: none;
}


.header__link {
    color: white;
  }
  
  .header__link:hover {
    text-decoration: none;
    color: orange;
  }
.header__checkout__number {
    display: flex;
    justify-content: center;
  
  
}