.checkout{
    background-color: var(--theme-background-color);
    height: 100vh;
}

.checkoutPage {
    border: var(--theme-border);
    border-radius: var(--theme-card-border-radius);
    height: 500px;
    width: 800px;
    margin: 20px;
    background-color: white;
}

.checkoutPage__title-container {
    display: flex;
    flex-direction: column;
}

.checkoutPage__title {
    display: flex;
    justify-content: center;
}

.checkoutPage__title-no-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

#title {
    color: var(--theme-font-color);
}


.checkoutPage__container > div {
    display: flex;
    flex-direction: column;
    align-items: center;

}