.ListingSummary__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:var(--theme-background-color);
}

.ListingSummary {
    margin: 20px;
    width: 20rem;

}

.ListingSummary_title-link {
    color: var(--theme-font-color);
    background-color: white;
}



a.ListingSummary_title-link:hover{
    text-decoration: none;
    color: var(--theme-hover-color);
}


.ListingSummary__info {
    display: flex;
    flex-direction: column;
    border: var(--theme-border);
    border-radius: var(--theme-card-border-radius);
    align-items: center;

}

.ListingSummary__pending-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
   

}

.ListingSummary__pending {
    height: 40px;
    width: 75px;
    background-color: var(--theme-special-btn-background-color);
    border-radius: 5px 2px 5px 5px;
    padding: 8px;
    color: white;
    grid-row: 1;
}



.ListingSummary_image {
    grid-column: 1 / -1;
    grid-row: 1;
    max-width: 318px;
    border-radius: 4px 4px 0px 0px;
    width: 408px;
    height: 190px;
}


.card-body {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-height: auto;
}

div.card-body{
    padding: 0px;
    background-color: white;
}

.ListingSummary__title {
    display: flex;
    text-align: center;
    margin: 20px 20px 0px 20px;
    font-size: 25px;
}

.price__container {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    align-items: center;

}

.ListingSummary__description {
    display: flex;
   
    margin: 20px 20px 10px 20px;
    line-height: 16px;
    font-size: 12px;
}

.ListingSummary__price__strike {
    text-decoration: line-through;
    font-size: 18px;
}

.ListingSummary__price {
    font-size: 22px;
}

.ListingSummary__btn {
    display: flex;
    justify-content: flex-end;
}

a.btn.btn-primary.ListingSummary__btn{
    background-color: var(--theme-standard-btn-background-color);
    border-style: none;
    padding: 7px;
}

a.btn.btn-primary.ListingSummary__btn:hover {
    color: var(--theme-color);
}


.ListingSummary__card-footer {
    display: flex;
    max-height: 65px;
    justify-content: space-around;
}

.ListingSummary__acreage,
.ListingSummary__location {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.ListingSummary__acreage-footer,
.ListingSummary__location-footer {
    display: flex;
    justify-content: center;
}


@media (min-width: 320px) {

    .ListingSummary {
        margin: 20px 0 20px 0 ;
    }
    
}

@media (min-width: 768px) {

    .ListingSummary {
       
        margin: 20px ;
        width: 20rem;
    
    }
    

}

/* @media (min-width: 1395px) {

    .ListingSummary {
        margin: 20px ;
        width: 20rem;
    
    }
    

} */