.gallery {
display: flex;
justify-content: center;

}


.gallery__img-container {
    display: flex;
    padding: 25px;
 
}

.gallery__img {
    display: flex;
    height: 300px;
    width: 300px;
    margin: auto;
    /* cursor: pointer; */
  
}

