.header__link {
    text-decoration: none !important;
    color: white;
  
  
  }
  
  .header__link:hover {
    text-decoration: none;
    color: orange;
  }
  
  .header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .header__optionLineOne {
    font-size: 10px;
    width: 150px;
  }
  
  .header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
  }

  .header__checkout__number {
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none !important;
    margin-bottom: 0;
    padding: 0;
}
  
  
  .header__nav__container {
    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-content: center;
  
  }