.details__body {
    display: flex;
    background-color: var(--theme-background-color);

}

.details__left-side {
    display: flex;
    flex: 1;
    justify-content: center;


}

.card {
    width: 42rem;
}


.details__title {
    font-size: 35px;
    line-height: 40px;
}

.details__title-note {
    font-size: 12px;
}

.details__price-options {
    font-size: 25px;
    font-weight: 400;
}

.details__cash-title {
    font-size: 20px;
}

.details__container-price {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-between;
}

.details__container-left {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    align-items: center;
}

.details__price {
    color: var(--theme-font-color);
    font-size: 27px;
}

.details__strike-price {
    text-decoration: line-through;
    font-weight: 300;
    font-size: 18px;
    margin-left: 15px;
}



.details__container-right {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 20px;
    align-items: center;

}


.details__down-payment {
    font-size: 18px;
    margin-right: 15px;
}

.details__reserve-button {
    color: white;
    background-color: var(--theme-special-btn-background-color);
    border: none;
    border-radius: 5px;
    padding: 7px;
}

.details__reserve-button:hover {
    background-color: orangered;
    color: var(--theme-hover-color);

}

.details__description {
    font-size: 25px;
    font-weight: 400;
}

.details__info-title {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 30px;
}

.details__info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.details__info-container>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-icon {
    width: auto;
    height: 35px;
    margin-bottom: 10px;
    color: lightgray;
}

.detials__font-color {
    color: var(--theme-font-color);
}

.details__coords {
    width: 95px;
}

.details__water {
    width: 80px;
    text-align: center;
}

.details__info-label {
    font-size: 13px;
}



.notes_container {
    padding: 12px 20px;
}

.notes_container-title {
    font-size: 25px;
    font-weight: 400;
    color: black;
}

#notes_important-title {
    font-size: 18px;
    padding-bottom: 10px;
}

.notes_container>ul>li {

    font-weight: bold;
}

.map_container {
    padding: 1px;
}


.map_red-pin {
    max-width: 20%;

}




@media (max-width: 1950px) {
    .details__left-side {
        margin-left: 300px;
    }
}

@media (max-width: 1450px) {

    .details__left-side {
        margin-left: 50px;
    }
}


@media (max-width: 1025px) {
    .details__body {
        display: flex;
        flex-direction: column;
    }

    .details__left-side {
        margin-left: 0px;
    }

    .card,
    .details__card {
        margin: 0px;
        padding-top: 0px;



    }

    .details__info-container>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100px;
        width: 100px;
        margin: 10px;

    }

}

@media (max-width: 992px) {


    .contact__one {
        margin: 40px;
    }

    .contact__one-container {
        flex-direction: column;
    }

    .form-group>select {
        width: 284px;

    }
}


@media (max-width: 768px) {

    .details__left-side {
        margin-left: 0px;
    }

    .details__body {
        display: flex;
        flex-direction: column;
    }

    .details__info-container>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100px;
        width: 100px;
        margin: 10px;

    }

}



@media (max-width: 414px) {

    .details__left-side {
        margin-left: 0px;
    }

    .details__cash-title {
        display: flex;
        justify-content: center;
    }


    .details__container-left {
        flex-direction: column;
        margin-bottom: 10px;
    }



    .details__container-right {
        flex-direction: column;
    }


    .details__container-price {
        flex-direction: column;
    }

    .details__down-payment {
        font-size: 18px;
        flex-direction: column;
        margin-bottom: 10px;

    }

    .details__strike-price {
        display: none;
    }

    .details__reserve-button {
        padding: 7px;
        width: 100%;
    }

    .details__info-container>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100px;
        width: 100px;
        margin: 10px;

    }


}

@media (max-width: 375px) {

    .details__cash-title {
        display: flex;
        justify-content: center;
    }


    .details__container-left {
        flex-direction: column;
        margin-bottom: 10px;
    }

    .details__container-right {
        flex-direction: column;
    }


    .details__container-price {
        flex-direction: column;
    }

    .details__down-payment {
        font-size: 18px;
        flex-direction: column;
        margin-bottom: 10px;

    }

    .details__strike-price {
        display: none;
    }

    .details__reserve-button {
        padding: 7px;
        width: 100%;
    }

    .details__info-container>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100px;
        width: 100px;
        margin: 10px;


    }

}