.card {
    width: 42rem;
}

.details__body {
    display: flex;
    background-color: var(--theme-background-color);

}

.details__left-side {
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: var(--theme-background-color);
}

.details__title {
    font-size: 35px;
    line-height: 40px;
}

.details__title-note {
    font-size: 12px;
}

.details__price-options {
    font-size: 25px;
    font-weight: 400;
}

.details__cash-title {
    font-size: 20px;
}

.details__container-price {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-between;
}

.details__container-left {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    align-items: center;
}

.details__price {
    color: var(--theme-font-color);
    font-size: 27px !important;
}

.details__strike-price {
    text-decoration: line-through;
    font-weight: 300;
    font-size: 18px
}



.details__container-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 20px;
    align-items: center;
   
}


.details__down-payment {
    font-size: 20px;
    font-size: 18px
}

.details__reserve-button {
    color: white !important;
    background-color: var(--theme-special-btn-background-color);
    border: none;
    border-radius: 5px;
    padding: 7px;
}

 .details__reserve-button:hover{
    background-color: orangered;
   
}

.details__description {
    font-size: 25px;
    font-weight: 400;
}

.details__info-title {
    font-size: 25px;
    font-weight: 400;
}

.details__info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;


}

.fa-icon {
    width: auto;
    height: 35px;
    margin-bottom: 10px;
    color: lightgray;

}

.detials__font-color {
    color: var(--theme-font-color);
}

.details__info-label {
    font-size: 13px;
}

.details__right-side{
    background-color: var(--theme-background-color);
}