*{
  margin: 0px;
  
}

:root{
  --theme-hover-color: #022b3a;
  --theme-font-color: #058c42;
  --theme-border:  solid 1px lightgray;
  --theme-card-border-radius:  5px;
  --theme-background-color: #dff3e3;
  --theme-card-background-color: white;
  --theme-standard-btn-background-color: #6d8a96;
  --theme-special-btn-background-color: #e26d5c;
  --theme-pending-btn-background-color: rgb(216, 216, 5);
}

