.contact__one {
    height: auto;
    border: var(--theme-border);
    border-radius: var(--theme-card-border-radius);
}

.contact__one-title{
    color: var(--theme-font-color)
}


.contact__one-container{
    display: flex;
    align-items: center;
}

.contact__one-button-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

