.contact__one {
    height: auto;
    border: var(--theme-border);
    border-radius: var(--theme-card-border-radius);
    background-color: var(--theme-card-background-color);
    background-image: 'TG-logo.jpeg';
    margin-top: 25px;

}



.contact__one-title {
    color: var(--theme-font-color);
    z-index: 15;
}


.contact__one-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.contact__one-button-container>button:disabled {
    background-color: grey;
    color: black;
    border: none;
    padding: 7px;
}


.contact__one-button-container>button {
    background-color: var(--theme-standard-btn-background-color);
    border: none;
    padding: 7px;

}

.contact__one-button-container>button:hover {
    background-color: var(--theme-standard-btn-background-color);
    color: var(--theme-hover-color)
}

@media (min-width: 320px) {

    .contact__one {
        height: 395px;
        width: 315px;
    }

    #one-whereToOwn,
    #one-howFindUs {
        width: 260px;

    }
}



@media (min-width: 411px) {

    #one-whereToOwn,
    #one-howFindUs {
        width: 265px;
    }
}


@media (min-width: 1024px) {

    .contact__one {
        height: 190px;
        width: auto;
        margin-bottom: 40px;
    }
}