


.footer-container {
    display: flex;
    flex-direction: column;
    background-color: var(--theme-font-color);
    font-family: "Platform Medium", Roboto, sans-serif;
    font-size: small;
    padding: 20px;
  
}

.footer-legal-one {
    display: flex;
    justify-content: center;
    color: white;
}
.footer-legal-two {
    display: flex;
    justify-content: center;
    color: white;
  
 
}
